body {

  /*
  background: radial-gradient(ellipse at center, #30E3CA 0%, #11999E 48%, #40514E 100%);
  */

  background-color: #3A3845;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  font-weight:normal;
  margin: 0%;
  margin-top: 0%;
  text-align: center;
  color: #F7CCAC;

  /* This disables horizontal scrolling */
  max-width: 100%;
  overflow-x: hidden;
}

/* This makes the links all the same color, regardless of click status */
a:link, a:visited, a:hover, a:active {
  color: #F7CCAC;
}


h1 {
  font-size: 24px;
  margin-block-start: 8px;
  margin-block-end: 8px;
}

h2 {
  font-size: 24px;
  color: #F7CCAC;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

p {
  font-size: 125px;
  font-family: 'Josefin Sans', sans-serif;
}

h3 {
  position: absolute;
  font-size: 2em;
  padding-left:80%;
}

hr {
  border-style: none;
  width: 30%;
  border-top-style: dotted;
  justify-content: center;
  border-width: 4px;
  border-color: #8FBDD3;
}

a:any-link {
  text-decoration: none;
}

/* 
Trying to get BG image to work 
There is a wrapper DIV for this class around the entire body

.wrapitup {
  background-image: url("profilepic2.jpg");
  width: 100%;
  height: 100%;
}
*/

.links {
  z-index: 9999;
}

.topMargin {
  margin-top: 50px;
  padding: 5px;

}

.topMenu {
  margin: 1em 1em auto 80em;
  padding: auto 1em auto 10em;
}

.createMenu {
  margin: 2em 20em 2em 10em;
  border: 900px;
}

.createMenu:hover {
  background-color: #24222e;
  transition: all 0.21s ease;
}

.createMenuRight {
  margin: 1em;
}

.menuText {
  font-size: 20px;
}

.imAdam {
  color: #E4D1B9;
  position: relative;
  text-align: center;
  margin: auto auto 6em auto;
}

.profilepic {
  opacity: 15%;
  position: fixed;
  top: 88%;
  left: 30%;
  transform: translate(-50%, -70%);
  z-index: -1;
  border-radius: 50%;
  max-width: 100%;
  width: 2000px;
  height: 2000px;
  filter: grayscale(100%) blur(10px);
}

.profilepic:hover {
  opacity: 25%;
  filter: grayscale(70%) blur(0px);
  transition: all 1s ease-in-out;
}

.below {
  font-size: 100px;
  margin: 0 3em 0 3em;
}

.biggerHR {
  border-style: none;
  width: 20%;
  border-top-style: dotted;
  justify-content: center;
  border-width: 4px;
  border-color: #8FBDD3;
}

.mainBody {
  font-size:1.3em;
  padding-left:20em;
  padding-right:20em;
  color: #F7CCAC;
}

.navMenuHR {
  width: 100px;
}

.grid {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 20px 1fr;
  place-items: center;
  right: 27.5%;
  top: 27.5%;
  font-size: 1.75em;
  font-weight: bold;
}

.underCon:focus {
  background-color: black;
}

#header {
  border-style: none;
  margin-top: 2em;
}

/* THIS IS THE CODE FOR SLIDING TEXT */
.testDrop {
  animation: dropIn 1s ease forwards;
  animation-delay: calc(var(--order) * 300ms);
  transition: ease-in-out;
}

@keyframes dropIn {
  from {transform: translateX(10000%);}
  to {transform: translateX(0);}
}
